{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}Nuevo Proyecto{% endblock title %}

{% block page_css_datepicker %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css" />
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
			<h1>Nuevo Proyecto</h1>
		</div>

		<form class="form-horizontal" method="post">{% csrf_token %}
			{{ form | crispy }}
			<div class="form-group">
				<a href="javascript:history.back()" class="btn btn-default">Cancelar</a>
				<button type="submit" class="btn btn-primary">Enviar</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}

{% block page_js_datepicker %}
  <script type="text/javascript">
      $(function() {
          $('#id_fecha_creacion').datetimepicker({
            format: 'DD/MM/YYYY',
            widgetPositioning:{
                                horizontal: 'auto',
                                vertical: 'auto'
                            },
            sideBySide: true,
          });
      });
  </script>
{% endblock %}