{% extends "base.html" %}

{% load static %}
{% load geojson_tags %}

{% block title %}Inicio{% endblock title %}

{% block custom_style %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

<style>
	#mapid { height: 480px; }
</style>

{% endblock custom_style %}

{% block datatables_js %}
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<!--   <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
 -->

  <script>
    $(document).ready(function() {
    var table = $('#example').DataTable(
    {
            "language": {
                "decimal":        "",
                "emptyTable":     "No hay datos que mostrar",
                "info":           "Mostrando _START_ a _END_ de _TOTAL_ registros",
                "infoEmpty":      "Mostrando 0 a 0 de 0 registros",
                "infoFiltered":   "(filtrado de _MAX_ total registros)",
                "infoPostFix":    "",
                "thousands":      ",",
                "lengthMenu":     "Mostrar _MENU_ registros",
                "loadingRecords": "Cargando...",
                "processing":     "Procesando...",
                "search":         "Buscar:",
                "zeroRecords":    "No existe datos segun busqueda",
                "paginate": {
                    "first":      "Primero",
                    "last":       "Ultimo",
                    "next":       "Siguiente",
                    "previous":   "Anterior"
                },
                "aria": {
                    "sortAscending":  ": activar para ordenar en forma ascendente",
                    "sortDescending": ": activar para ordenar en forma descendente"
                }
            }
    }
    
 );

        var baseMaps = {
        Calles: L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoieWVjbzIzIiwiYSI6ImNrNnZvdnNhdjAwM2Uza285cnVzejFnbGcifQ.NY_Z2Zm2h7wH2LWo9-HGCw', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'your.mapbox.access.token'
        }),

        Relieve: L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoieWVjbzIzIiwiYSI6ImNrNnZvdnNhdjAwM2Uza285cnVzejFnbGcifQ.NY_Z2Zm2h7wH2LWo9-HGCw', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/outdoors-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'your.mapbox.access.token'
        })
        };

        var collection = {{ proyectos |geojsonfeature:"popupContent"|safe }};

        var all_proyectos = new L.LayerGroup();

        
        function onEachFeature(feature, layer) {
            if (feature.properties && feature.properties.popupContent) {
              layer.bindPopup(feature.properties.popupContent);
              layer.addTo(all_proyectos);
            }

          }


        var overlayMaps = {
        "Proyectos": all_proyectos
        };

        var mymap = L.map('mapid', {
            center: [-10.774303, -75.813227],
            zoom: 13,
            layers: [baseMaps.Calles, overlayMaps.Proyectos]
        });

        var geojsonMarkerOptions = {
            radius: 8,
            fillColor: "#EE360E",
            color: "#000",
            weight: 1,
            opacity: 1,
            fillOpacity: 0.8
        };

        L.geoJSON(collection, {onEachFeature: onEachFeature}, {
            pointToLayer: function (feature, latlng) {
                return L.circleMarker(latlng, geojsonMarkerOptions);
            }}).addTo(mymap);


        // L.control.layers(baseMaps, overlayMaps);

        // var table = $('#example').DataTable();
        
        filter_proyectos = new L.LayerGroup();
        
        var query_proyectos_id = {{ proyectos |geojsonfeature:"id,popupContent" |safe }};
        // console.log(query_proyectos_id);
        // console.log(collection);

        var counter=0;

        table.on('search.dt', function () {
            // console.log(counter);
            if(counter==0){
                mymap.removeLayer(all_proyectos);
            }

            if(counter!=0){
                filter_proyectos.clearLayers();
            }

            numberRowsResult = table.rows({search:'applied'}).data().length;

            result_query_data = table.rows({search:'applied'}).data();

            for(var i=0; i<numberRowsResult; i++){
                // console.log(i);
                var markersFiltered = L.geoJSON(query_proyectos_id, {
                    onEachFeature: function(feature, layer) {
                            // console.log(feature.properties);
                            // console.log(result_query_data[i][0]);
                            // console.log(feature.properties.id);
                        if (result_query_data[i][0] == feature.properties.id) {
                            // console.log(1);
                            layer.addTo(filter_proyectos);
                            layer.bindPopup(feature.properties.popupContent);
                            return true;
                        }
                    }
                });

            }
            // console.log(filter_proyectos);
            filter_proyectos.addTo(mymap);
            counter++;
        });

        // var geojson = new L.GeoJSON.AJAX("{% static 'data/CCPP-PTBO-GEOJSON.geojson' %}");
        // geojson.on('data:loaded', function(){
        // geojson.addTo(mymap);
        // });

} );
</script>
{% endblock %}

{% block content %}


<div class="container-fluid" id="mapid">
</div>

<div class="mt-5 pb-5" id="data-tables">
<table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Ubicacion</th>
                <th>Localidad</th>
                <th>Fecha creacion</th>
            </tr>
        </thead>
        <tbody>
                {%for pro in proyectos %}
                <tr>
                    <td>
                        {{ pro.id }}
                    </td>
                    <td>
                    <a href="{{ pro.get_absolute_url }}">
                        {{pro.nombre}}
                    </a>
                    </td>
                    <td>
                        {{pro.geom.x|stringformat:".6f"}} , {{pro.geom.y|stringformat:".6f"}}
                    </td>
                    <td>
                        {{pro.localidad}}
                    </td>
                    <td>
                        {{pro.fecha_creacion |date:"Y/m/d" }}
                    </td>
                </tr>
                {% endfor %}  
        </tbody>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Ubicacion</th>
                <th>Localidad</th>
                <th>Fecha creacion</th>
            </tr>
        </tfoot>
    </table>
</div>

<div class="row pb-5">
    <div class="col-lg-4">
        <canvas id="mod_ejec_chart" width="400" height="400"></canvas>
    </div>
    <div class="col-lg-4">
        <canvas id="tip_sec_chart" width="400" height="400"></canvas>
    </div>
    <div class="col-lg-4">
        <canvas id="tip_est_chart" width="400" height="400">QW</canvas>
    </div>
</div>

<script>

var ctx1 = document.getElementById('mod_ejec_chart').getContext('2d');
var ctx2 = document.getElementById('tip_sec_chart').getContext('2d');
var ctx3 = document.getElementById('tip_est_chart').getContext('2d');

var data1 ={
        datasets: [
        {
        data: {{arr_data_mod_ejec}} ,
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f"],
    }],

    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: {{arr_label_mod_ejec |safe }}
}

var data2 ={
        datasets: [
        {
        data: {{arr_data_tip_sec}} ,
        backgroundColor: ["#235D9E", "#F07525","#E7F025","#25F0BF", "#F02544","#8125F0","#6cba9a"],
    }],

    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: {{arr_label_tip_sec |safe }}
}

var data3 ={
        datasets: [
        {
        data: {{arr_data_tip_est}} ,
        backgroundColor: ["#F025CB", "#31F025","#25F0CB","#F0F710"],
    }],

    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: {{arr_label_tip_est |safe }}
}

var options1 ={
        title: {
        display: true,
        text: 'Cantidad de proyectos segun Modalidad de Ejecucion'
      },
        tooltips: {
          callbacks: {
            label: function(tooltipItem, data) {
              //get the concerned dataset
              var dataset = data.datasets[tooltipItem.datasetIndex];
              //calculate the total of this data set
              var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
                return previousValue + currentValue;
              });
              //get the current items value
              var currentValue = dataset.data[tooltipItem.index];
              //calculate the precentage based on the total and current item, also this does a rough rounding to give a whole number
              var percentage = Math.floor(((currentValue/total) * 100)+0.5);

              return percentage + "%";
            }
          }
        },
}

var options2 ={
        title: {
        display: true,
        text: 'Cantidad de proyectos segun Sector de Financiamiento'
      },
        tooltips: {
          callbacks: {
            label: function(tooltipItem, data) {
              var dataset = data.datasets[tooltipItem.datasetIndex];
              var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
                return previousValue + currentValue;
              });
              var currentValue = dataset.data[tooltipItem.index];
              var percentage = Math.floor(((currentValue/total) * 100)+0.5);
              return percentage + "%";
            }
          }
        },
}

var options3 ={
        title: {
        display: true,
        text: 'Cantidad de proyectos segun Estado de la Obra'
      },
        tooltips: {
          callbacks: {
            label: function(tooltipItem, data) {
              var dataset = data.datasets[tooltipItem.datasetIndex];
              var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
                return previousValue + currentValue;
              });
              var currentValue = dataset.data[tooltipItem.index];
              var percentage = Math.floor(((currentValue/total) * 100)+0.5);
              return percentage + "%";
            }
          }
        },
}

var myModEjecChart = new Chart(ctx1, {
    type: 'doughnut',
    data: data1,
    options: options1
});

var myTipSecChart = new Chart(ctx2, {
    type: 'doughnut',
    data: data2,
    options: options2
});

var myTipEstChart = new Chart(ctx3, {
    type: 'doughnut',
    data: data3,
    options: options3
});

</script>

{% endblock %}