{% extends "base.html" %}
{% load static %}
{% load geojson_tags %}

{% block title %}Inicio{% endblock title %}

{% block custom_style %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

<style>
	#mapid { height: 500px; }
</style>

{% endblock custom_style %}

{% block datatables_js %}
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<!--   <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
 -->
  <script>
    $(document).ready(function() {
    $('#example').DataTable(
    {
            "language": {
                "decimal":        "",
                "emptyTable":     "No hay datos que mostrar",
                "info":           "Mostrando _START_ a _END_ de _TOTAL_ filas",
                "infoEmpty":      "Mostrando 0 a 0 de 0 filas",
                "infoFiltered":   "(filtrado de _MAX_ total filas)",
                "infoPostFix":    "",
                "thousands":      ",",
                "lengthMenu":     "Mostrar _MENU_ filas",
                "loadingRecords": "Cargando...",
                "processing":     "Procesando...",
                "search":         "Buscar:",
                "zeroRecords":    "No existe datos segun busqueda",
                "paginate": {
                    "first":      "Primero",
                    "last":       "Ultimo",
                    "next":       "Siguiente",
                    "previous":   "Anterior"
                },
                "aria": {
                    "sortAscending":  ": activar para ordenar en forma ascendente",
                    "sortDescending": ": activar para ordenar en forma descendente"
                }
            }
    }
    
 );

} );
</script>
{% endblock %}

{% block content %}


<div class="container-fluid" id="mapid">
</div>

<div class="mt-5 pb-5">
<table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Ubicacion</th>
                <th>Localidad</th>
                <th>Fecha creacion</th>
            </tr>
        </thead>
        <tbody>
                {%for pro in proyectos %}
                <tr>
                    <td>
                        {{pro.id}}
                    </td>
                    <td>
                        {{pro.nombre}}
                    </td>
                    <td>
                        {{pro.geom.x}}, {{pro.geom.y}}
                    </td>
                    <td>
                        {{pro.localidad}}
                    </td>
                    <td>
                        {{pro.fecha_creacion}}
                    </td>
                </tr>
                {% endfor %}  
        </tbody>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Ubicacion</th>
                <th>Localidad</th>
                <th>Fecha creacion</th>
            </tr>
        </tfoot>
    </table>
</div>

<script>
	
        var baseMaps = {
        Calles: L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoieWVjbzIzIiwiYSI6ImNrNnZvdnNhdjAwM2Uza285cnVzejFnbGcifQ.NY_Z2Zm2h7wH2LWo9-HGCw', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'your.mapbox.access.token'
        }),

        Relieve: L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoieWVjbzIzIiwiYSI6ImNrNnZvdnNhdjAwM2Uza285cnVzejFnbGcifQ.NY_Z2Zm2h7wH2LWo9-HGCw', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/outdoors-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'your.mapbox.access.token'
        })
        };

        var collection = {{ proyectos |geojsonfeature:"popupContent"|safe }};
        // var colleXD = {{ proyectos |geojsonfeature:"id"|safe }};
        // console.log(collection);
        // console.log(colleXD.features);
        var all_proyectos = new L.LayerGroup();

        
        function onEachFeature(feature, layer) {
            if (feature.properties && feature.properties.popupContent) {
              layer.bindPopup(feature.properties.popupContent);
              layer.addTo(all_proyectos);
            }

          }

        L.geoJson(collection, {onEachFeature: onEachFeature});

        var overlayMaps = {
        "Proyectos": all_proyectos
        };

        var mymap = L.map('mapid', {
            center: [-10.774303, -75.813227],
            zoom: 13,
            layers: [baseMaps.Calles, overlayMaps.Proyectos]
        });
        // console.log(all_proyectos);

        // var novosMarcadores = L.control.layers(baseMaps, overlayMaps).addTo(mymap);

        // $('#example').on( 'draw.dt', function () {
        //     alert( 'Table redrawn' );
        // } );

        function onEachFeatureFilter(feature, layer) {
            if (feature.properties && feature.properties.popupContent) {
              layer.bindPopup(feature.properties.popupContent);
              // layer.addTo(filter_proyectos);
            }
          }

        // var makers = L.geoJson(collection, {onEachFeature: onEachFeature});

        var table = $('#example').DataTable();
        
        filter_proyectos = new L.LayerGroup();
        
        var query_proyectos_id = {{ proyectos |geojsonfeature:"id"|safe }};

        // var markersFiltered = new L.geoJSON();

        var counter=0;

        table.on( 'search.dt', function () {

            if(counter==0){
                mymap.removeLayer(all_proyectos);
            }

            if(counter!=0){
                // mymap.removeLayer(filter_proyectos);
                filter_proyectos.clearLayers();
                // mymap.removeLayer(markersFiltered);
            }

            numberRowsResult = table.rows({search:'applied'}).data().length;
            console.log(counter);
            console.log(numberRowsResult);
            result_query_data = table.rows({search:'applied'}).data();

            for(var i=0; i<numberRowsResult; i++){
                // mymap.removeLayer(filter_proyectos);
                // mymap.removeLayer(markersFiltered);
                // console.log(i);

                // if(i!=0){
                //     mymap.removeLayer(markersFiltered);
                // }

                // console.log(result_query_data[i][0]);
                // console.log(result_query_data[i]);
                // onEachFeatureFilter(result_query_data[i][0]);
                // L.geoJson(query_proyectos_id, {onEachFeature: onEachFeatureFilter(feature, layer, result_query_data[i][0])});


                var markersFiltered = L.geoJSON(query_proyectos_id, {
                    onEachFeature: function(feature, layer) {
                        if (result_query_data[i][0] == feature.properties.id) {
                            layer.addTo(filter_proyectos);
                            console.log(filter_proyectos);
                            // console.log(result_query_data[i][0]);
                            // console.log(feature.properties.id);
                            return true;
                        }
                    }
                });
                console.log(markersFiltered);
                // markersFiltered.addTo(mymap);

            }
            filter_proyectos.addTo(mymap);
            counter++;
        });
        // var filterValues = L.geoJson(proyectos, {filter: visibleMarkers}).addTo(mymap);

        // var popupContentXD = {{ proyectos |geojsonfeature:"popupContent"|safe }};
        // console.log(popupContentXD);
        // var nombreXD = {{ proyectos |geojsonfeature:"id"|safe }};
        // console.log(nombreXD);


</script>
{% endblock %}